* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(62, 102, 102);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px 25px;
  border: 1px solid #000;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar .logo {
  /* border: 1px solid #000; */
  flex-grow: 0.5;
}

.navbar .logo img {
  width: 15rem;
  padding-left: 2rem;
  transition: all 100ms ease-in;
}

.navbar .logo img:hover {
  transform: scale(1.05);
}

.navbar .nav-list {
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid #000; */
}

.navbar .nav-list a {
  font-style: italic;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.2rem;
  transition: all 100ms ease-in;
}

.navbar .nav-list a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.navbar .user {
  flex-grow: 0.5;
  text-align: center;
  transition: 200ms;
  position: relative;
}

.navbar .user .user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 1.5rem;
  background-color: #0a8680;
  padding: 1rem;
}

.display {
  display: block!important;
}


.navbar .user .user-dropdown a {
  color: white;
  font-weight: 400;
  margin-block: 1rem;
  display: block;
}

.navbar .user .user-dropdown a:hover{
  color: #000000;
}



/* main section */

.container {
  width: 350px;
  padding: 2rem;
  margin: 20px auto;
  background-color: rgb(116, 199, 199);
  border-radius: 1.2rem;
}

.container h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.container h3 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.inner {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.fullname label {
  font-size: 1.3rem;
}

.fullname input {
  width: 100%;
  padding: 0.8rem 2rem;
}

.phone label {
  font-size: 1.3rem;
}
.phone input {
  width: 100%;
  padding: 0.8rem 2rem;
}

.email label {
  font-size: 1.3rem;
}
input[type="email"] {
  width: 100%;
  padding: 0.8rem 2rem;
}

.contact-icon {
  margin-top: 20px;
  border-block: 1px solid gray;
  display: flex;
  justify-content: space-around;
}

.msg label{
  font-size: 1.3rem;
}

button:hover{
background-color: #0a8680;
border: none;
color: white;
}
.contact-icon a img:hover {
  transform: scale(1.2);
}
