* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  
  body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(162, 205, 216);
  }
  
  .navbar {
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px 25px;
    border: 1px solid #000;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .navbar .logo {
    /* border: 1px solid #000; */
    flex-grow: 1;
  }
  
  .navbar .logo img {
    padding-left: 2.5rem;
    transition: all 100ms ease-in;
  }
  
  .navbar .logo img:hover {
    transform: scale(1.05);
  }
  
  .navbar .nav-list {
    flex-grow: 3;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid #000; */
  }
  
  .navbar .nav-list a {
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1rem;
    transition: all 100ms ease-in;
  }
  
  .navbar .nav-list a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  
  .navbar .user {
    flex-grow: 0.5;
    text-align: center;
    transition: 200ms;
    position: relative;
  }
  
  .navbar .user .user-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
  }
  .navbar .user .user-dropdown a {
    color: white;
    font-weight: 400;
  }
  