* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(17, 88, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}
